In [5]:
import numpy as np
import random

In [6]:
lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]

In [8]:
random.choice(lista)

90

In [15]:
random.randint(1, 99)

99

In [17]:
import math
numero_base = int(input("Digite o número base: "))
numero_expoente = int(input("Digite o número expoente: "))
resultado = math.pow(numero_base, numero_expoente)
print(f"O resultado de {numero_base} elevado a {numero_expoente} é: {resultado}")

Digite o número base:  2
Digite o número expoente:  3

O resultado de 2 elevado a 3 é: 8.0

**1.** Um programa deve ser escrito para sortear uma pessoa seguidora de uma rede social para ganhar um prêmio. A lista de participantes é numerada e devemos escolher aleatoriamente um número de acordo com a quantidade de participantes. Peça à pessoa usuária para fornecer o número de participantes do sorteio e devolva para ela o número sorteado.

In [24]:
numero = int(input("Digite o número de pessoas que estão participando do sorteio"))
print(f"O número sorteado foi: {random.randint(1,numero)}")

Digite o número de pessoas que estão participando do sorteio 8

O número sorteado foi: 4

**2.** Você recebeu uma demanda para gerar números de token para acessar o aplicativo de uma empresa. O token precisa ser par e variar de 1000 até 9998. Escreva um código que solicita à pessoa usuária o seu nome e exibe uma mensagem junto a esse token gerado aleatoriamente

In [26]:
def gerar_token_par():
    token = random.randint(500, 4999) * 2
    return token

nome = input("Digite seu nome: ")
token = gerar_token_par()
print(f"Olá, {nome}, o seu token de acesso é {token}! Seja bem-vindo(a)!")

Digite seu nome:  duda

Olá, duda, o seu token de acesso é 1978! Seja bem-vindo(a)!

**3.** Para diversificar e atrair novos(as) clientes, uma lanchonete criou um item misterioso em seu cardápio chamado "salada de frutas surpresa". Neste item, são escolhidas aleatoriamente 3 frutas de uma lista de 12 para compor a salada de frutas da pessoa cliente. Crie o código que faça essa seleção aleatória de acordo com a lista abaixo:

In [33]:
frutas = ["maçã", "banana", "uva", "pêra", 
          "manga", "coco", "melancia", "mamão",
          "laranja", "abacaxi", "kiwi", "ameixa"]
random.sample(frutas,3)

['uva', 'manga', 'abacaxi']

### Funções

In [36]:
def media():
    calculo = (10+9+8)/3
    print(calculo)

In [37]:
media()

9.0

In [38]:
def media(nota_1,nota_2,nota_3):
    calculo = (nota_1+nota_2+nota_3)/3
    print(calculo)

In [39]:
media(3,6,9)

6.0

## Funções

1. Escreva um código que lê a lista abaixo e faça:

In [41]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]

In [42]:
def estrutura_lista (lista):
    tamanho = len(lista)
    maior_valor = max(lista)
    menor_valor = min(lista)
    soma = sum(lista)
    return tamanho, maior_valor, menor_valor, soma

In [52]:
print(f"A lista possui {estrutura_lista(lista)[0]} números "
      f"em que o maior número é {estrutura_lista(lista)[1]} "
      f"e o menor número é {estrutura_lista(lista)[2]}. "
      f"A soma dos valores presentes nela é igual a {estrutura_lista(lista)[3]}")

A lista possui 17 números em que o maior número é 99 e o menor número é 11. A soma dos valores presentes nela é igual a 743

2. Escreva uma função que gere a tabuada de um número inteiro de 1 a 10, de acordo com a escolha da pessoa usuária. Como exemplo, para o número 7, a tabuada deve ser mostrada no seguinte formato:

In [58]:
def tabuada(x):
    for i in range(11):
        print(f"{x} x {i} = {x * i}")

numero = int(input("Escolha um número entre 1-10 para gerar a tabuada: "))
tabuada(numero)

Escolha um número entre 1-10 para gerar a tabuada:  7

7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

3. Crie a função que leia a lista abaixo e retorne uma nova lista com os múltiplos de 3:

In [60]:
def multiplo(lista):
    return [x for x in lista if x % 3 == 0]
lista = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]
mult_3 = multiplo(lista)
print(mult_3)

[24, 99]

4. Crie uma lista dos quadrados dos números da seguinte lista [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]. Lembre-se de utilizar as funções lambda e map() para calcular o quadrado de cada elemento da lista.

In [62]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
quadrados = map(lambda x: x**2,lista)
list(quadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

5. Você foi contratado(a) como cientista de dados de uma associação de skate. Para analisar as notas recebidas de skatistas em algumas competições ao longo do ano, você precisa criar um código que calcula a pontuação dos(as) atletas. Para isso, o seu código deve receber 5 notas digitadas pelas pessoas juradas.

   
    Para calcular a pontuação de um(a) skatista, você precisa eliminar a maior e a menor pontuação dentre as 5 notas e tirar a média das 3 notas que sobraram. Retorne a média para apresentar o texto:

"Nota da manobra: [media]"

In [63]:
def media (n1,n2,n3,n4,n5):
    maior = max(n1,n2,n3,n4,n5)
    menor = min(n1,n2,n3,n4,n5)
    return (n1 + n2 + n3 + n4 + n5 - maior - menor)/3

N1 = int(input("Digite a primeira nota: "))
N2 = int(input("Digite a segunda nota: "))
N3 = int(input("Digite a terceira nota: "))
N4 = int(input("Digite a quarta nota: "))
N5 = int(input("Digite a quinta nota: "))

print(f"Nota da manobra: {media(N1,N2,N3,N4,N5)}")

Digite a primeira nota:  8
Digite a segunda nota:  7
Digite a terceira nota:  10
Digite a quarta nota:  5
Digite a quinta nota:  6

Nota da manobra: 7.0

6. Para atender a uma demanda de uma instituição de ensino para a análise do desempenho de seus(suas) estudantes, você precisa criar uma função que receba uma lista de 4 notas e retorne:

- maior nota
- menor nota
- média
- situação (Aprovado(a) ou Reprovado(a))

Para testar o comportamento da função, os dados podem ser exibidos em um texto:
"O(a) estudante obteve uma média de [media], com a sua maior nota de [maior] pontos e a menor nota de [menor] pontos e foi [situacao]"

In [75]:
def desempenho ():
    notas = []
    for i in range(4):
        notas.append(float(input(f"Digite a nota {i+1}: ")))
        
    menor = min(notas)
    maior = max(notas)
    media = sum(notas) / len(notas)
    
    if media > 6:
        situacao = 'APROVADO(A)'
    else:
        situacao = 'REPROVADO(A)'
        
    return menor, maior, media, situacao
    
menor, maior, media, situacao = desempenho()
print(f"O(a) estudante obteve uma média de {media}, com a sua maior nota de {maior} pontos e a menor nota de {menor} pontos e foi {situacao}")

Digite a nota 1:  10
Digite a nota 2:  7
Digite a nota 3:  8
Digite a nota 4:  5

O(a) estudante obteve uma média de 7.5, com a sua maior nota de 10.0 pontos e a menor nota de 5.0 pontos e foi APROVADO(A)

7. Você recebeu uma demanda para tratar 2 listas com os nomes e sobrenomes de cada estudante concatenando-as para apresentar seus nomes completos na forma Nome Sobrenome. As listas são:

- nomes = ["joão", "MaRia", "JOSÉ"]- 
sobrenomes = ["SILVA", "souza", "Tavares"]

In [79]:
nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]

nome_tratado = map(lambda x: x[0].upper() + x[1:].lower(),nomes)
sobrenome_tratado = map(lambda x: x[0].upper() + x[1:].lower(),sobrenomes)

nome_completo = [n + " " + s for n, s in zip(nome_tratado, sobrenome_tratado)]
print(nome_completo)

['João Silva', 'Maria Souza', 'José Tavares']

8. Como cientista de dados em um time de futebol, você precisa implementar novas formas de coleta de dados sobre o desempenho de jogadores e do time como um todo. Sua primeira ação é criar uma forma de calcular a pontuação do time no campeonato nacional a partir dos dados de gols marcados e sofridos em cada jogo.

Escreva uma função chamada calcula_pontos que recebe como parâmetros duas listas de números inteiros, representando os gols marcados e sofridos pelo time em cada partida do campeonato. A função deve retornar a pontuação do time e o aproveitamento em percentual, levando em consideração que a vitória vale 3 pontos, o empate vale 1 ponto e a derrota 0 pontos.

In [98]:
def calcula_pontos(gols_marcados, gols_sofridos):
    pontos = 0
    jogos = len(gols_marcados)
    
    for i in range(jogos):
        if gols_marcados[i] > gols_sofridos[i]:
            pontos += 3
        elif gols_marcados[i] == gols_sofridos[i]:
            pontos += 1

    aproveitamento = (pontos / (3 * jogos)) * 100
    return pontos, aproveitamento

# Teste da função com os dados fornecidos
gols_marcados = [2, 1, 3, 1, 0]
gols_sofridos = [1, 2, 2, 1, 3]

pontuacao, aproveitamento = calcula_pontos(gols_marcados, gols_sofridos)
print(f"Pontuação do time: {pontuacao} pontos")
print(f"Aproveitamento do time: {aproveitamento:.2f}%")

Pontuação do time: 7 pontos
Aproveitamento do time: 46.67%

9. Você recebeu o desafio de criar um código que calcula os gastos de uma viagem para um das quatro cidades partindo de Recife, sendo elas: Salvador, Fortaleza, Natal e Aracaju.

O custo da diária do hotel é de 150 reais em todas elas e o consumo de gasolina na viagem de carro é de 14 km/l, sendo que o valor da gasolina é de 5 reais o litro. O gastos com passeios e alimentação a se fazer em cada uma delas por dia seria de [200, 400, 250, 300], respectivamente.

Sabendo que as distâncias entre Recife e cada uma das cidades é de aproximadamente [850, 800, 300, 550] km, crie três funções nas quais: a 1ª função calcule os gastos com hotel (gasto_hotel), a 2ª calcule os gastos com a gasolina (gasto_gasolina) e a 3ª os gastos com passeio e alimentação (gasto_passeio).

Para testar, simule uma viagem de 3 dias para Salvador partindo de Recife. Considere a viagem de ida e volta de carro.

In [105]:
def gastos_hotel (dias):
    return dias*150

def gastos_gasolina(cidade):
    gastos=0
    if cidade == 'Salvador':
        gastos+= (850/14)*5
    elif cidade == 'Fortaleza':
        gastos+= (800/14)*5
    elif cidade == 'Natal':
        gastos+= (300/14)*5
    elif cidade == 'Aracaju':
        gastos+= (550/14)*5
    return gastos

def gastos_alimentacao (cidade,dias):
    gastos=0
    if cidade == 'Salvador':
        gastos+= 200*dias
    elif cidade == 'Fortaleza':
        gastos+= 400*dias
    elif cidade == 'Natal':
        gastos+= 250*dias
    elif cidade == 'Aracaju':
        gastos+= 300*dias
    return gastos

dias = int(input("Informe o número de dias: "))
cidade = input("Qual a cidade de escolha: ")

print(f"Com base nos gastos definidos, uma viagem de {dias} dias para {cidade} saindo de Recife "
      f"custaria {gastos_hotel (dias) + gastos_alimentacao (cidade,dias) + gastos_gasolina(cidade):.2f} reais")

Informe o número de dias:  3
Qual a cidade de escolha:  Salvador

Com base nos gastos definidos, uma viagem de 3 dias para Salvador saindo de Recife custaria 1353.57 reais

10. Você iniciou um estágio em uma empresa que trabalha com processamento de linguagem natural (NLP). Sua líder requisitou que você criasse um trecho de código que recebe uma frase digitada pela pessoa usuária e filtre apenas as palavras com tamanho maior ou igual a 5, exibindo-as em uma lista. Essa demanda é voltada para a análise do padrão de comportamento de pessoas na escrita de palavras acima dessa quantidade de caracteres.

In [111]:
frase = input("Digite uma frase: ")
palavras = frase.split()  # Divide a frase em palavras
palavras_5letras = list(filter(lambda x: len(x) > 5, palavras))

palavras_5letras = [palavra.replace(',', '.').replace('!', '.').replace('?', '.') for palavra in palavras_5letras]

print(palavras_5letras)

Digite uma frase:  Aprender Python aqui na Alura é muito bom!

['Aprender', 'Python']