1. Crie um código para imprimir a soma dos elementos de cada uma das listas contidas na seguinte lista:

In [1]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

In [4]:
soma = [sum(i) for i in lista_de_listas]
soma

[24, 10, 16]

2. Crie um código para gerar uma lista que armazena o terceiro elemento de cada tupla contida na seguinte lista de tuplas:

In [6]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

In [8]:
codigo = [lista_de_tuplas[i][2] for i in range(len(lista_de_tuplas))]
codigo

[81, 67, 83]

3. A partir da lista: lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo'], crie um código para gerar uma lista de tuplas em que cada tupla tenha o primeiro elemento como a posição do nome na lista original e o segundo elemento sendo o próprio nome.

In [9]:
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

In [13]:
tuplas = [(i, lista[i]) for i in range(len(lista))]
tuplas

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

4. Crie uma lista usando o list comprehension que armazena somente o valor numérico de cada tupla caso o primeiro elemento seja 'Apartamento', a partir da seguinte lista de tuplas:

In [15]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

In [17]:
lista = [preco for tipo,preco in aluguel if tipo == 'Apartamento']
lista

[1700, 1400, 1900]

5. Crie um dicionário usando o dict comprehension em que as chaves estão na lista meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'] e os valores estão em despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

In [18]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

In [20]:
dict = {meses:despesa for meses,despesa in zip(meses,despesa)}
dict

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

6. Uma loja possui um banco de dados com a informação de venda de cada representante e de cada ano e precisa filtrar somente os dados do ano 2022 com venda maior do que 6000. A loja forneceu uma amostra contendo apenas as colunas com os anos e os valores de venda para que você ajude a realizar a filtragem dos dados a partir de um código:

vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

Crie uma lista usando list comprehension para filtrar os valores de 2022 e que sejam maiores que 6000.

In [25]:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

In [28]:
lista = [ (ano,valor) for ano,valor in vendas if ano == '2022' and valor > 6000]
lista

[('2022', 8883), ('2022', 7688), ('2022', 9544), ('2022', 8190)]

7. Uma clínica analisa dados de pacientes e armazena o valor numérico da glicose em um banco de dados e gostaria de rotular os dados da seguinte maneira:

- Glicose igual ou inferior a 70: 'Hipoglicemia'
- Glicose entre 70 a 99: 'Normal'
- Glicose entre 100 e 125: 'Alterada'
- Glicose superior a 125: 'Diabetes'
  
A clínica disponibilizou parte dos valores e sua tarefa é criar uma lista de tuplas usando list comprehension contendo o rótulo e o valor da glicemia em cada tupla.

In [29]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

In [35]:
status_glicemia = [('Hipoglicemia' if valor <= 70 
                    else 'Normal' if 70 < valor < 100 
                    else 'Alterada' if 100 <= valor <= 125 
                    else 'Diabetes', valor) for valor in glicemia]
status_glicemia

[('Diabetes', 129),
 ('Normal', 82),
 ('Hipoglicemia', 60),
 ('Normal', 97),
 ('Alterada', 101),
 ('Hipoglicemia', 65),
 ('Hipoglicemia', 62),
 ('Diabetes', 167),
 ('Normal', 87),
 ('Hipoglicemia', 53),
 ('Hipoglicemia', 58),
 ('Normal', 92),
 ('Hipoglicemia', 66),
 ('Alterada', 120),
 ('Alterada', 109),
 ('Hipoglicemia', 62),
 ('Normal', 86),
 ('Normal', 96),
 ('Alterada', 103),
 ('Normal', 88),
 ('Diabetes', 155),
 ('Hipoglicemia', 52),
 ('Normal', 89),
 ('Normal', 73)]

8. Um e-commerce possui as informações de id de venda, quantidade vendida e preço do produto divididos nas seguintes listas:

In [54]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

O e-commerce precisa estruturar esses dados em uma tabela contendo o valor total da venda, que é obtida multiplicando a quantidade pelo preço unitário. Além disso, a tabela precisa conter um cabeçalho indicando as colunas: 'id', 'quantidade', 'preco' e 'total'.

Crie uma lista de tuplas em que cada tupla tenha id, quantidade, preço e valor total, na qual a primeira tupla é o cabeçalho da tabela.

In [55]:
tabela = [('id', 'quantidade', 'preco', 'total')]
tabela.extend([(id, quantidade, preco, quantidade*preco) for id, quantidade, preco in zip(id, quantidade, preco)])

In [56]:
print(tabela)

[('id', 'quantidade', 'preco', 'total'), (0, 15, 93.0, 1395.0), (1, 12, 102.0, 1224.0), (2, 1, 18.0, 18.0), (3, 15, 41.0, 615.0), (4, 2, 122.0, 244.0), (5, 11, 14.0, 154.0), (6, 2, 71.0, 142.0), (7, 12, 48.0, 576.0), (8, 2, 14.0, 28.0), (9, 4, 144.0, 576.0)]

9. Uma empresa possui filiais espalhadas nos Estados da região Sudeste do Brasil. Em uma das tabelas de cadastro das filiais há uma coluna contendo a informação de qual é o Estado a que pertence: estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG'].

A empresa sempre está abrindo novas filiais, de modo que a tabela está constantemente recebendo novos registros e o gestor gostaria de possuir a informação atualizada da quantidade de filiais em cada Estado.

A partir da coluna com a informação dos Estados, crie um dicionário usando dict comprehension com a chave sendo o nome de um Estado e o valor sendo a contagem de vezes em que o Estado aparece na lista.

Dica: Você pode fazer um passo intermediário para gerar uma lista de listas em que cada uma das listas possui o nome de apenas um Estado com valores repetidos.

In [57]:
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']

In [59]:
contagem_estados = {estado: estados.count(estado) for estado in set(estados)}
contagem_estados

{'MG': 7, 'RJ': 2, 'SP': 8, 'ES': 6}

10. Nessa mesma tabela de cadastro de filiais, há uma coluna com as informações da quantidade de pessoas colaboradoras e o(a) gestor(a) gostaria de ter um agrupamento da soma dessas pessoas para cada estado. As informações contidas na tabela são:

In [40]:
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7),
                ('SP', 11), ('MG',8), ('ES',8), ('SP',9), 
                ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]

A partir da lista de tuplas, crie um dicionário em que as chaves são os nomes dos Estados únicos e os valores são as listas com o número de colaboradores(as) referentes ao Estado. Crie também um dicionário em que as chaves são os nomes dos Estados e os valores são a soma de colaboradores(as) por Estado.

Dica: Você pode fazer um passo intermediário para gerar uma lista de listas em que cada uma das listas possui apenas os valores numéricos de funcionários(as) de cada Estado.

In [60]:
# Criando um dicionário com listas de funcionários por estado
funcionarios_por_estado = {estado: [num for est, num in funcionarios if est == estado] for estado in set(estado for estado, _ in funcionarios)}

# Criando um dicionário com a soma de funcionários por estado
soma_funcionarios_por_estado = {estado: sum(nums) for estado, nums in funcionarios_por_estado.items()}

funcionarios_por_estado, soma_funcionarios_por_estado

({'MG': [9, 6, 4, 8, 5, 10, 12],
  'RJ': [13, 9],
  'SP': [16, 10, 7, 11, 9, 12, 7, 10],
  'ES': [8, 9, 7, 12, 8, 14]},
 {'MG': 54, 'RJ': 22, 'SP': 82, 'ES': 58})